body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFF;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.header {
background: #FFF;
}

.logo {
font-family: Raleway, sans-serif;
display: inline-flex;
height: 24px;
align-items: center;
text-decoration: none;
color: #2E2F42;
font-size: 18px;
font-weight: 800;
line-height: 21px;
letter-spacing: 0.54px;
text-transform: uppercase;
}

.logo-special {
color: #4D5AE5;
font-size: 18px;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.link {
    text-decoration: none;
}
.header-menu-list {
color: #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
list-style-type: none;
}

.link:hover,.link:focus {
color: #404BBF;
}
.btn:hover, .btn:focus {
    color: #404BBF; 
}

.header-menu-item {

}

.header-menu-link {
color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.address-menu-list {
list-style-type: none;
text-align: right;
}

.address-menu-link {
    text-decoration: none;
}
.order {
width: 1440px;
height: 600px;
flex-shrink: 0;
background: #2E2F42;
}
.order-title {
display: flex;
width: 496px;
flex-direction: column;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
padding-left: 472px;
padding-top: 188px;
padding-bottom: 48px;
padding-right: 472px;
}
.order-btn {
display: inline-flex;
padding: 16px 32px;
align-items: flex-start;
gap: 10px;
border-radius: 4px;
color: #FFF;
background: #4D5AE5;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
}

.paragraph-subtitle {
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.paragraph-item-text {
color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.doing-menu-item {
display: inline-flex;
flex-direction: column;
align-items: flex-start;
}

.doing-title {
color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.team {
    background: #F4F4FD;
}
.team-title {
color: #2E2F42;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.25;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.team-menu-item {
display: inline-flex;
padding-bottom: 0px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 32px;
border-radius: 0px 0px 4px 4px;
background: #FFF;
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px
rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-subtitle {
color: #2E2F42;
text-align: center;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
.team-item-text {
color: #434455;
text-align: center;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.footer {
background: #2E2F42;
}

.footer-text {
color: #F4F4FD;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.logo-second-color {
    color: #F4F4FD;
}

.menu-btn-special {
border-radius: 4px;
background: #404BBF;
box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px
rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
display: flex;
padding: 12px 24px;
align-items: flex-start;
cursor: pointer;
}
.menu-btn {
    border-radius: 4px;
    border: 1px solid#E7E9FC;
    color: #4D5AE5;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    background: #F4F4FD;
    cursor: pointer;
}

.btn-item {
    display: flex;
    padding: 12px 24px;
    align-items: flex-start;
}

.service-menu-item {
    display: flex;
width: 360px;
height: 420px;
padding-bottom: 0px;
flex-direction: column;
align-items: flex-start;
gap: 32px;
flex-shrink: 0;
border: 1px solid #E7E9FC;
background: #FFF;
}

.service-subtitle {
color: #2E2F42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
.service-item-text {
color: #434455;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}