body {
    font-family: "Roboto", sans-serif;
    color: var(--brand-text-cl);
    background-color: var(--white-cll);
}
:root{
--brand-text-cl: #434455;
--white-cl:  #FFF;
--pseudo-btn-cl: #404BBF;
--navyblue-cl: #2E2F42;
--iris-cl: #4D5AE5;
--light-cl: #E7E9FC;
--second-light-cl: #F4F4FD;
--description-cl: #2E2F42;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.header {
background:var(--white-cl);
}

.logo {
font-family: Raleway, sans-serif;
display: inline-flex;
height: 24px;
align-items: center;
text-decoration: none;
color: var(--navyblue-cl);
font-size: 18px;
font-weight: 800;
line-height: 21px;
letter-spacing: 0.54px;
text-transform: uppercase;
}

.logo-special {
color: var(--iris-cl);
font-size: 18px;
font-weight: 800;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.link {
    text-decoration: none;
}
.header-menu-list {
color: var(--navyblue-cl);
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
list-style-type: none;
}

.link:hover,.link:focus {
color: var(--pseudo-btn-cl);
}
.btn:hover, .btn:focus {
color: var(--pseudo-btn-cl); 
}

.header-menu-item {

}

.header-menu-link {
color: inherit;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.address-menu-list {
list-style-type: none;
text-align: right;
}

.address-menu-link {
text-decoration: none;
}
.order {
flex-shrink: 0;
background: var(--navyblue-cl);
}
.order-title {
display: flex;
flex-direction: column;
flex-shrink: 0;
color: var(--white-cl);
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
}

.order-btn {
font-family: inherit;
display: inline-flex;
align-items: flex-start;
gap: 10px;
border-radius: 4px;
color: var(--white-cl);
background: var(--iris-cl);
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
}

.paragraph-subtitle {
color: var(--description-cl);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.description {
color: var(--brand-text-cl);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.paragraph-item-text {

}
.doing-menu-item {
display: inline-flex;
flex-direction: column;
align-items: flex-start;
}

.doing-title {
color: var(--description-cl);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.team {
    background: var(--second-light-cl);
}
.team-title {
color: var(--description-cl);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.25;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.team-menu-item {
display: inline-flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 32px;
border-radius: 0px 0px 4px 4px;
background: var(--white-cl);
}

.team-subtitle {
color: var(--description-cl);
text-align: center;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
.team-item-text {
}

.footer {
background: var(--description-cl);
}

.footer-text {
color: var(--second-light-cl);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.logo-second-color {
    color: var(--second-light-cl);
}

.menu-btn-special {
border-radius: 4px;
background: var(--pseudo-btn-cl);
color: var(--white-cl);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
display: flex;
align-items: flex-start;
cursor: pointer;
}
.menu-btn {
border-radius: 4px;
border: var(--light-cl);
color: var(--iris-cl);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
display: flex;
justify-content: center;
align-items: center;
background: var(--second-light-cl);
cursor: pointer;
}

.btn-item {
display: flex;
align-items: flex-start;
font-family: inherit;
}

.service-menu-item {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 32px;
flex-shrink: 0;
background: var(--white-cl);
}

.service-subtitle {
color: var(--description-cl);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-decoration: none;
}
.service-item-text {
text-decoration: none;
}
